<!DOCTYPE html>

<html>
<head>
    <title>Team 4819</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <meta name="Description" content="Team 4819, The Flat Mountain Mechanics, is a FIRST FRC team based in Mt. Pleasant Michigan">
    <script src="jquery-1.9.1.min.js"></script>
    <script src="script.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40005154-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>
<div id="Header">
    <div id="Logo">
        <img onclick="changePage('/About')" src="Images/Logo-large.png" width="200px"/>
    </div>
    <div id="Navigation">
        <div class="navLink1" onclick="changePage('/About')"><a><img src="Images/about.png"/><h2>About Us</h2></a></div>
        <div class="navLink2" onclick="changePage('/Album')"><a><img src="Images/entertainment-photos-line_drawing.png"/><h2>Album</h2></a></div>
        <div class="navLink1" onclick="changePage('/Robots')"><a><img src="Images/Silveira_Neto_Robot_with_a_claw.png"/><h2>Robots</h2></a></div>
        <div class="navLink2" onclick="changePage('/News')"><a><img src="Images/1269850054.png"/><h2>News</h2></a></div>
        <div class="navLink1" onclick="changePage('/Awards')"><a><img src="Images/cup.png"/><h2>Awards</h2></a></div>
        <div class="navLink2" onclick="changePage('/Sponsors')"><a><img style='width: 25px;' src="Images/dollar-sign.png"/><h2>Sponsors</h2></a></div>
    </div>
</div>
<div id="Body">
    <div id="Sidebar">
        <div id="FIRST">
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="150" src="http://www.usfirst.org/sites/default/files/uploadedImages/Robotics_Programs/FRC/Marketing_Tools/Communication_Assets/2013/UltimateAscent.jpg"/></a>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="100" src="http://www.usfirst.org/uploadedImages/Robotics_Programs/FRC/FRC_Communications_Resource_Center/Branding_and_Logos/FIRSTvert_Reversed.gif"/></a>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="125" src="http://www.usfirst.org/uploadedImages/Robotics_Programs/FRC/FRC_Communications_Resource_Center/Branding_and_Logos/FRCicon_Reverse.gif"/></a>
            </div>
        </div>
        <div id="Updates">
            
        </div>
        <div id="SponsorsBar">
            <h2>Our Proud Sponsors</h2>
            <div class='image' class='Sponsor' >
                <a href='http://www.michaelengineering.com' target="_blank"><img src='/Images/Sponsors/Rook.png'/></a>
            </div>
            <div class='image' class='Sponsor'>
                <a href='http://www.jcpenney.com' target="_blank"><img src='/Images/Sponsors/JCPenny.png'/></a>
            </div>
            <p>For a complete list of our sponsors,<br/> or to support our team,<br/> please visit our <u><a style="cursor: pointer;" onclick="changePage('/Sponsors')">sponsor page</a></u>.</p>
        </div>
    </div>
    <div id="Content">
    {{ content|safe }}
    </div>
</div>
<div id="footer">
    <p>2013 Flat Mountain Mechanics -- Site built by Christian Balcom</p>
</div>


</body>
</html>
