<!DOCTYPE html>

<html>
<head>
    <title>Team 4819</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/jquery.countdown.css" type="text/css"/>
    <meta name="Description" content="Team 4819, The Flat Mountain Mechanics, is a FIRST FRC team based in Mt. Pleasant Michigan">
    <script src="/static/jquery-1.9.1.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/jquery.form.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/jquery.countdown.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40005154-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; 
    s.parentNode.insertBefore(ga, s);

  })();
  </script>
</head>

<body>
<div id="Header">
    <div id="Logo">
    	<a class="link" href="/Home" onclick="navigate(event, this)">
        	<img src="/static/Logo/Logo-large.png" width="200px"/>
        </a>
    </div>
    <div id="Navigation">
        <a class="navLink1 link" onclick="navigate(event, this)" href="/About"><img src="/static/Nav/about.png"/><h2>About Us</h2></a>
        <a class="navLink2 link" onclick="navigate(event, this)" href="/Media"><img src="/static/Nav/entertainment-photos-line_drawing.png"/><h2>Media</h2></a>
        <a class="navLink1 link" onclick="navigate(event, this)" href="/Robots"><img src="/static/Nav/Silveira_Neto_Robot_with_a_claw.png"/><h2>Robots</h2></a>
        <a class="navLink2 link" style="margin-top: 60px;" onclick="navigate(event, this)" href="/Updates"><img src="/static/Nav/1269850054.png"/><h2>Team Updates</h2></a>
        <a class="navLink1 link" onclick="navigate(event, this)" href="/Awards"><img src="/static/Nav/cup.png"/><h2>Awards</h2></a>
        <a class="navLink2 link" onclick="navigate(event, this)" href="/Sponsors"><img style='width: 25px;' src="/static/Nav/dollar-sign.png"/><h2>Sponsors</h2></a>
        <a class="navLink1 link" onclick="navigate(event, this)" href="/Code"><img src="/static/Nav/html-bracket.png"/><h2>Code</h2></a>
        <a class="navLink2 link" onclick="navigate(event, this)" href="/Calendar"><img src="/static/Nav/office-calendar.png"/><h2>Calendar</h2></a>
    </div>
    <hr/>

</div>
<div id="Body">
    <div id="Sidebar">
        <div id="FIRST">
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="150" src="http://www.usfirst.org/sites/default/files/uploadedImages/Robotics_Programs/FRC/Marketing_Tools/Communication_Assets/2013/UltimateAscent.jpg"/></a>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="100" src="http://www.usfirst.org/uploadedImages/Robotics_Programs/FRC/FRC_Communications_Resource_Center/Branding_and_Logos/FIRSTvert_Reversed.gif"/></a>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;" class='image'>
                <a href='http://usfirst.org' target="_blank"><img width="125" src="http://www.usfirst.org/uploadedImages/Robotics_Programs/FRC/FRC_Communications_Resource_Center/Branding_and_Logos/FRCicon_Reverse.gif"/></a>
            </div>
        </div>
        <div id="auth" >
            <div id="welcome" {% if user.permissions == 0 %}hidden="true"{% endif %}>
               <img width="50" src="/static/Nav/id-card-md.png"  /><h3>Welcome, <span class="username">{{user.firstName}}</span>! <a class="link button" style="margin-left: auto; margin-right: auto; width: 100px;" onclick="logout()">Log out.</a></h3>
            </div>
            <div id="login" {% if user.permissions != 0 %}hidden="true"{% endif %}>
               <a class="link" href="/Login" onclick="navigate(event, this)"><img width="50" src="/static/Nav/id-card-md.png"  /><h3>Sign in</h3></a>
            </div>
            <div id="loggingOut" hidden="true"><p>Logging Out</p></div>
        </div>
        <div id="Subscribe">
           <div id="SubscribePanel" {% if user.subscribed == 1 %}hidden="true"{% endif %}>
              <a class="link button" style="margin-left: auto; margin-right: auto; width: 150px; text-align: center;" onclick="if(LoggedIn)submitSubscribe(); else togglePanel('#Subscribe #SubscribePromptPanel')">Subscribe to Mailing List</a>
              
           </div>
           <div id="SubscribePromptPanel" hidden="true">
              <p>Email:<input id="email"></p>
                 <a class="link button" style="margin-left: auto; margin-right: auto; width: 150px; text-align: center;" onclick="submitSubscribe()">Subscribe</a>
           </div>
           <div id="SubscribedPanel" {% if user.subscribed == 0 %}hidden="true"{% endif %}>
              <a class="panel" style="	float: none; padding: 10px; margin: 10px; display: block; clear: both; margin-left: auto; margin-right: auto; width: 150px; text-align: center;">You are subscribed to the Mailing List.</a>
           </div>
        </div>
        <div id="SponsorsBar">
            <h2>Our Proud Sponsors</h2>
            <div class='image' class='Sponsor' >
                <a href='http://www.michaelengineering.com' target="_blank"><img src='/static/Sponsors/Rook.png'/></a>
            </div>
            <div class='image' class='Sponsor'>
                <a href='http://www.jcpenney.com' target="_blank"><img src='/static/Sponsors/JCPenny.png'/></a>
            </div>
            <p>For a complete list of our sponsors,<br/> or to support our team,<br/> please visit our <u><a class="link" onclick="navigate(event, this)" href="/Sponsors">sponsor page</a></u>.</p>
        </div>
    </div>
    <div id="Content">
    {{ content|safe }}
    </div>
</div>
<div id="footer">
    <p>2013 Flat Mountain Mechanics -- Site built by Christian Balcom</p>
</div>


</body>
</html>
