<div style="text-align: center;" class="banner"><h2>Winners of the 2013 District Rookie All-Star Award, <br/> Rookie Inspiration Award, <br/> and 2 Highest Rookie Seed Awards!</h2></div>
<p>&nbsp;</p>

<div id="Awards">
<h1>Awards</h1>
<h2>2013 Ultimate Ascent:</h2>

<h2 style="margin-bottom: 30px; margin-top: 40px;" >Kettering University FIRST Robotics District Competition</h2>

<h3>Official Awards</h3>
<h2>
<ul>
<li>Rookie All Star</li>
<li>Highest Rookie Seed -- ranking 11th of 40!</li>
</ul>
</h2>
<p>Unofficial Awards</p>
<ul>
<li>Best Climbing Bot (presented by team #1506 Metal Muscle)</li>
<li>Climber (presented by team #2337 EngiNERDs)</li>
<li>Cliffhanger Award (presented by team #68 Truck Town Thunder)</li>
<li>Best Climber (presented by team #3568 the Roboeagles)</li>
<li>Awesomesauce Award (presented by team #862 Lightning Robotics)</li>
<li>Golden Frisbee Award--Rookie (presented by team #2604 Metal and Soul)</li>
<li>Golden Frisbee Award--Climber (presented by team #2604 Metal and Soul)</li>
</ul>
<p>&nbsp;</p>
<hr/>
<p>&nbsp;</p>
<h2 style="margin-bottom: 30px;">Troy FIRST Robotics District Competition</h2>
<h3>Official Awards</h3>
<h2>
<ul>
<li>Rookie Inspiration Award</li>
<li>Highest Rookie Seed -- ranking 14th of 40!</li>
</ul>
</h2>
<p>Unofficial Awards</p>
<ul>
<li>Cliffhanger Award (presented by team #68 Truck Town Thunder)</li>
<li>Most Impressive Rookie (presented by team #67 the HOT team)</li>
</ul>
</div>
