<h1>Upcoming Events:</h1>
<table border="1" style="width: 700px;">
	<tr><th>Event</th><th>Date</th></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 9/4/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 9/11/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 9/18/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 9/25/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 10/2/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 10/9/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 10/16/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 10/23/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 10/30/13</td></tr>
	<tr><td>Optimist Club Bowling Challange</td><td>Saturday, 11/2/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 11/6/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 11/13/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 11/20/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 11/27/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 12/4/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 12/11/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 12/28/13</td></tr>
	<tr><td>Team Meeting</td><td>Wednesday, 1/1/14</td></tr>
	<tr><td>2014 FRC Kickoff!!</td><td>Saturday, 1/4/14</td></tr>
</table>