<div id="CreateUser">
<div><p>Username:</p><input id="Username" name="Username"></input></div>
<div><p>Password:</p><input id="Password" name="Password" type="password"></input></div>
<div><p>Permissions:</p><input id="Permissions"  name="Permissions"></input></div>
<button onclick="CreateUser()">Create User</button>
</div>
<script>
function CreateUser(){
 var data = {};
 data.Username = $("#Username")[0].value;
 data.Password = $("#Password")[0].value;
 data.Permissions = $("#Permissions")[0].value;
 $.post("/python/CreateUser",data,function(data){changePage("/Login");});
}
</script>