<a style="float: left;text-decoration: none;color:white;" onclick="navigate(event, this)" class="button" href="/Media/{{folder.Name}}">Back to {{folder.Name}}</a>
<div  style=" float: left; text-align: center;" class="panel">
{% if file.Type == "html" %}
<h2>{{file.Name}}</h2>
<div id="html">
{{file.Html|safe}}
</div>
{% elif file.Type == "image" %}
<img src="/static/media/{{folder.Name}}/{{file.Name}}?resize=true&width=750&height=650" width="750">
<h2>{{file.Name}}</h2>
<div class="description">{{file.Description|safe}}</div>
{% else %}
<img src="/static/file_icon_large.png">
<h2>{{file.Name}}</h2>
<div class="description">{{file.Description|safe}}</div>
{% endif %}
</div>

{% if file.Type != "html" %}
<div style="float: left; clear: both; " class="button"><a href="/static/media/{{folder.Name}}/{{file.Name}}">Download</a></div>
{% endif %}