
<div style="text-align: center;" >
	<div id="KickoffCountdown" style="width: 400px; display: inline-block;" ></div>
	<br/>
	<h3 style="width: 100%; text-align: center; margin: 25px;">Until 2014 Kickoff!!!</h3>
	<script>
		var Kickoff = new Date(); 
		Kickoff = new Date("January 4, 2014 10:30:00"); 
		$('#KickoffCountdown').countdown({until: Kickoff}); 
	</script>
</div>
<div style="text-align: center;" class="banner">

	
	<h2>Winners of the 2013 District Rookie All-Star Award, <br/> Rookie Inspiration Award, <br/> and 2 Highest Rookie Seed Awards!</h2>

</div>
<p>&nbsp;</p>

<div class="image">
    <a href="http://www.flickr.com/photos/danielernst/8607210565/" target="_blank" title="20130329 160712 1DX_0096 by danielernst, on Flickr">
        <img src="http://farm9.staticflickr.com/8534/8607210565_8311c59f60.jpg" width="500" height="333" alt="20130329 160712 1DX_0096"/>
        <p class="photocredit">
            <cite>photo credit Daniel Ernst</cite>
        </p>
    </a>
</div>
<p>
    <cite>&nbsp; &nbsp;&nbsp;
    <em>&ldquo;The varsity Sport for the Mind,&rdquo; FRC combines the excitement of sport with the rigors of science and technology. Under strict rules, limited resources, and time limits,teams of 25 students or more are challenged to raise funds, design a team &ldquo;brand,&rdquo; hone teamwork skills, and build and program robots to perform prescribed tasks against a field of competitors.&nbsp; It&rsquo;s as close to &ldquo;real-world engineering&rdquo; as a student can get. Volunteer professional mentors lend their time and talents to guide each team.
    <a href="http://usfirst.org" target="_blank" >usfirst.org</a>
    </em>
    </cite>
</p>
<div class="image">
    <img  alt="Our Team at Troy" src="http://2-0-0.firstteam4819.appspot.com/static/media/2013%20Troy%20District%20Competition/TeamTroy.jpg?resize=true&width=500&height=300" />
    <p class="photocredit">
        <cite>photo credit Heather Balcom</cite>
    </p>
</div>

<p>&nbsp; &nbsp; FIRST&nbsp;Team #4819, the Flat Mountain Mechanics,
is composed of students from the Mount Pleasant Home Education Association and
Mount Pleasant High School.
Our Team Members do not receive school credit for FIRST; they participate
solely because they enjoy&nbsp;it. To these gifted kids, FIRST is about learning; winning is just a bonus!</p>

<p>&nbsp; &nbsp;Our group&nbsp;was started in December 2012, with Lead Mentor&nbsp;Eric Prewett, 
pushing the buttons to organize a FIRST team for Mt.&nbsp;Pleasant, Michigan. 
He was given the team number #4819 and a grant from&nbsp;JCPenney, 
covering the costs of the initial Kit Of Parts 
(everything needed for building a rolling chassis) and 2 district competition&nbsp;fees. 
After probing for potential&nbsp;students and mentors, 
Mr. Prewett&nbsp;organized intial team meetings.
&nbsp;After just a couple team meetings we had decided upon the team name of&nbsp;<em>Flat Mountain Mechanics</em>, 
as&nbsp;we live in the vicinity of Mt. Pleasant&nbsp;with no mountain&nbsp;in sight.</p>

