

<h2>Media</h2>

{% if user.permissions >= 2 %}
<script>
function openNewFolder(){
	$("#newFolder")[0].hidden=false;
}

function newFolder(){
	data = {};
	data.name = $("#Name")[0].value;
	data.description = $("#Description")[0].value;
	data.date = $("#Date")[0].value;
	if($("#Restricted")[0].checked == true) data.restricted = "true"
	else data.restricted = "false"
	$.post("/python/newFolder", data, newFolderCallback)
	
}

function newFolderCallback(data){
	reloadContent();
}

</script>
<div style="float: left;" onclick="togglePanel('#newFolderPanel')" class="button">
<h3>New Folder</h3>
</div>
<div id="newFolder">
<div class="panel" id="newFolderPanel" hidden="true" >
<p>Name:<input type="text" id="Name"></p>
<p>Description:</p><textarea id="Description" rows="5" cols="30"></textarea>
<p>Restricted:<input type="checkbox" id="Restricted"></p>
<p>Date:<input type="date" id="Date"></p>
<button onclick="newFolder()">Create Folder</button>
</div>
</div>
{% endif %}

<div id="folders" >
{% for folder in folders %}
<a style="text-decoration: none;color:white;" class="folder" onclick="navigate(event, this)" href="/Media/{{folder.name|urlencode:''}}">
<img alt="{{folder.description}}" src="{{folder.thumbnail}}">
<p class="name">{{folder.name}}</p>
<p class="date"> {{folder.date.date}}</p>
</a>
{% endfor %}
</div>


