    {% if user.permissions == 3 or user.firstName|add:" "|add:user.lastName = post.author %}
    <a class="button" style="float: left; clear: none;" onclick="navigate(event, this)"  href="/Updates/{{post.title|urlencode:""}}/Edit">
    Edit Post
    </a>
    <a class="button" style="float: left; clear: none;" onclick="navigate(event, this)"  href="/Updates/{{post.title|urlencode:""}}/Delete">
    Delete Post
    </a>
    {% endif %}
<div class="post">
    <h2>{{post.title}}</h2>
    <div class='Content'>{{post.content|safe}}</div>
    <br/>
    <br/>
    <div class='Author'><b>posted by {{post.author}}</b></div>
    <p class='date'>{{post.date}}</p>
</div>

<div id="newComment">
<div id="newCommentPrompt">
<h3>Comment with your thoughts:</h3>
<div><input type="text" id="author" value="{{user.firstName}} {{user.lastName}}"></div>
<div><textarea id="content"></textarea></div>
<div><button onclick="comment()">Comment</button></div>
</div>
<div id="commenting" hidden="true">
<p>Commenting...</p>
</div>
</div>
<div id="comments">
    {% if comments %}
    	{% for comment in comments %}
    <div class="comment">
    <div><p><b class="author">{{comment.author}}</b> commented on <span class="date">{{comment.date}}</span></p></div>
    <div class="content"><p>{{comment.content}}</p></div>
    </div>
    	{% endfor %}
    {% else %}
    <p>no comments found</p>
    {% endif %}
</div>
<script>
$("#content").keyup(function(event){
    if(event.keyCode == 13){
        comment();
    }
});
function comment(){
	data = {}
	data.title = '{{post.title}}'
	data.author = $("#author")[0].value
	data.content = $("#content")[0].value
	$.post("/python/newComment", data, commentCallback)
	togglePanel("#newComment #commenting")
}
function commentCallback(data){
	reloadContent();
}
</script>
