<div id="Robots">
    <h1>Robots</h1>
    <h2>Alpinista:</h2>
    <div class="image">
        <a target="_blank" href="http://www.flickr.com/photos/danielernst/"><img alt="Alpinista at the Troy Regional" src="http://farm9.staticflickr.com/8534/8607210565_8311c59f60.jpg" style="height:333px; width:500px" /><p class="photocredit"><cite>photo credit Daniel Ernst</cite></p></a>
    </div>
    <p>Alpinista is our answer to the 2013 FRC Game: Ultimate Ascent. It uses a winch-driven arm to climb the pyramid to the 3rd level. The climbing mechanisim has 3 metal hooks, two bolted to the frame and controlled by rubber bands, and one mounted atop the arm. During autonomous period, Alpinista also dumps 2 to 3 disks into the low goal with a &quot;thumb&quot; on the back of the&nbsp;arm. It&nbsp;drives on 4 wheels&nbsp;and can earn up to 34 points per match!</p>
    <p>&nbsp;</p>
    <p style="text-align: center;">
        <iframe width="420" height="315" src="http://www.youtube.com/embed/hrBSES1dI2Q" frameborder="0" allowfullscreen></iframe>
    </p>
    <p style="text-align: center;">
        One of our first independent climbs during build season.  
    </p>
    <br/>
    <p style="text-align: center;">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/zyOpNUbA938" frameborder="0" allowfullscreen></iframe>
    </p>
    <p style="text-align: center;">
        Sucessful climb and dump at Troy district competition qualification match 29.
    </p>
    <br/>
    <p style="text-align: center;">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/r8GkEoD409c" frameborder="0" allowfullscreen></iframe>
    </p>
    <p style="text-align: center;">
        Frisbee dump and scary fall from level 2 at Troy district competition qualification match 4.
    </p>
    <p>&nbsp;</p>
    <p>Stay tuned for next year's robot!</p>
</div>