<div id='Sponsors'>
    <h1>Our Proud Sponsors</h1>
    <p>Our sponsors are our robot&#39;s lifeline. If you have interest in sustaining our robots, please contact our Lead Advisor <a href='mailto:eric@michaelengineering.com'>Eric Prewett</a>.</p>
    <center>       
        <a href='http://www.michaelengineering.com/' target="_blank"><img src='/Images/Sponsors/Rook.png'/></a>
        
        <a href='http://www.jcpenney.com' target="_blank"><img src='/Images/Sponsors/JCPenny.png'/></a>
        
        <a href='http://billscustomfab.com/' target="_blank"><img src='/Images/Sponsors/BillsFab.png'/></a>
        
        <a href='http://mphea.wordpress.com/' target="_blank"><img src='/Images/Sponsors/MPHEA.png'/></a>
        
        <a><img src='/Images/Sponsors/StantonConstruction.png'/></a>
        
        <a href='http://www.mitsuba.co.jp/english/' target="_blank"><img src='/Images/Sponsors/Mitsuba.png'/></a>
        
        <a><img src='/Images/Sponsors/InStitches.png'/></a>
        
        <a><img src='/Images/Sponsors/Banfield.png'/></a>
        
        <a><img src='/Images/Sponsors/TypesettingPlus.png'/></a>
        
        <a href='http://www.theupsstorelocal.com/2466/' target="_blank"><img src='Images/Sponsors/ups.png' /></a>
        
    </center>
</div>