body{
    background-color: black;
    color: white;
}

#Logo{
    float: left;
    width: 25%;
    text-align: center;
}

.unstyled{
	text-decoration: none;
	color: white;
}

.image{
    text-align: center;
}

.date{
	font-size: small;
}

.photocredit{
    font-size: small;
    text-align: center;
}

a img {
    border: 0;
}

a:visited{
    color: white;    
}

a:link{
    color: #FF2945;
}

.hot{
	color: red;
}

#teamUpdates{
	clear: both
}

.nav{
	display: block;
	color: white;
}


#Navigation{
   display: inline-block;
	text-align: center;
   width:  70%;
}

#Navigation>a{
    width: 12%;
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
}

#Navigation>a>img{
    width: 50px;
}

#Navigation>a>h2{
    margin-top: 10px;
}


#Navigation>div{
    width: 14%;
    float: left;
    text-align: center;
}

#Navigation>div>a>img{
    width: 50px;
}

#Navigation>div>h2{
    margin-top: 10px;
}

.navLink1{
   margin-top: 5px;
}

.navLink2{
    margin-top: 75px;
}

#Body{
    clear: both;
}

.post{
	clear: both;
	padding: 10px;
	margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #303030;
}

#newComment{
	width: 400px;
	padding: 10px;
	margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #303030;
}

.panel{
	clear: both;
	float: left;
	padding: 10px;
	margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #303030;
}

.button{
	clear: both;
	color: white;
	cursor: pointer;
	padding: 10px;
    margin: 10px;
    background-color: #303030;
    display: block;
}

.comment{
	width: 400px;
	padding: 10px;
	margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #303030;
}

.banner{
    background-color: #303030;
    margin-top: 0px;
    padding-top: 0px;
}


#Sidebar{
    float: left;
    width: 25%;
    padding-top: 50px;
}

#folders{
	clear: both;
}

.folder{
	cursor: pointer;
	background-color: #303030;
	width: 200px;
	padding: 10px;
	margin: 10px;
	float: left;
	height: 225px;
	text-align: center;
	position: relative;
}

.folder .date{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.folder .name{
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
}

#files{
	clear: both;
}

.file{
	cursor: pointer;
	position: relative;
	background-color: #303030;
	width: 200px;
	padding: 10px;
	margin: 10px;
	float: left;
	height: 200px;
	text-align: center;
}

.file .name{
	position: absolute;
	word-wrap: break-word;
	margin-left: 10px;
	margin-right: 10px;
	bottom: 0;
	right: 0;
	left: 0;
}

.link{
	cursor: pointer;
}

#auth{
	text-align: center;
	margin-top: 75px;
}

#SponsorsBar{
	clear: both;
    text-align: center;
    margin-top: 75px;
}

.Sponsor{
    width: 50px;
    margin: 10px;
    text-align: center;
}

#Sponsors img{
    margin: 20px;
}

#Updates>.post>img{
    width: 90%;
}

#Content{
    float: left;
    width: 70%;
    margin-top: -25 px;
}

#footer{
    clear: both;
    text-align: center;
    background-color: #303030;
    margin: 0px;    
}



*[hidden] {display: none;}
