<h2>{{folder.Name}}</h2>
{% if folder.Description != "" %}
<div style=" float: left;" class="panel"><p>{{folder.Description}}</p></div>
{% endif %}
{% if user.permissions >= 2 %}
<script src="/static/ckeditor/ckeditor.js"></script>
<div style="float: left;" id="uploadButton" class="button" onclick="togglePanel('#uploadPrompt')">
<h3>Upload file</h3>
</div>
<div id="uploadFile">
<div class="panel" id="uploadPrompt" hidden="true">
<form id="blobUpload" action="{{url|safe}}" method="post" enctype="multipart/form-data">
<p>File:<input type="file" name="file[]" multiple><span onclick="togglePanel('#altUpload');CKEDITOR.replace('editor');">Upload Html</span></p>
<p>Description:</p><textarea name="description" rows="5" cols="30"></textarea>
<p>Restricted:<input type="checkbox" name="restricted">
<input onclick="togglePanel('#uploading');$('#uploadButton')[0].hidden = true;" type="submit">
</form>
</div>
<div class="panel" id="altUpload" hidden="true">
<p>Title:<input id="title"></p>
<textarea id="editor" ></textarea>
<p>Restricted:<input type="checkbox" id="restricted" name="restricted">
<button onclick='uploadHtml()' id="upload">Upload</button>
</div>
<div class="panel" id="uploading" hidden="true">
<p>Uploading...</p>
</div>
</div>
<script>
function uploadHtml(){
data = {};
data.title = $('#title')[0].value;
data.html = CKEDITOR.instances.editor.getData();
data.restricted = $('#restricted')[0].value;
$.post("/upload/html/{{folder.Name|urlencode:''}}", data, function(data){reloadContent();})
}

$(document).ready(function(){
$("#blobUpload").ajaxForm(function(){reloadContent()})
})
</script>
{% endif %}
<div id="files" >
{% for file in files %}
<a style="text-decoration: none;color:white;" onclick="navigate(event, this)" href="/Media/{{folder.Name|urlencode:''}}/{{file.Name|urlencode:''}}" class="file">
{% if file.Type == "image" %}
<img src="/static/media/{{folder.Name}}/{{file.Name}}?resize=true&width=200&height=150">
{% elif file.Type == "html" %}
<img src="/static/Nav/html-bracket.png" width="200">
{% else %}
<img src="/static/Images/UI/file_icon.png">
{% endif %}
<p class="name">{{file.Name}}</p>
</a>
{% endfor %}
</div>
